.menu {
/*  font-size: 0;
  text-align: center;
  margin: 40px 0;*/


    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    margin: 0;
    padding: 1em 0 1em 0;
    text-align: center;
    background-color: #4b384c;
}
.menu a {
  display: inline-block;
  border-style: solid;
  border-color: #c4e0f1;
  border-width: 0 1px;
  height: 48px;
  line-height: 48px;
  width: 150px;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  color: white;
  cursor: pointer;
}

.menu a:hover {
  background: #c4e0f1;
}
.menu a:first-child {
  border-left-width: 2px;
}
.menu a:last-child {
  border-right-width: 2px;
}
.menu a.selected {
  background: #7999b9;
  border-color: #7999b9;
  border-bottom: 3px solid #475869;
  color: white;
}

/* simple css chart */

.chartBar {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 5px;
  color: white;
  display:inline-block;

}

.chartLabel {
    display: inline-block;
    width: 100px;
    text-align: right;
 

}

.xaxis {
    display: inline-block;
    margin: 0 0 0 1px;
    vertical-align: bottom;
    position: relative;
    width: 3%;
}

.chart:hover { /* change color of bars when hovering over them */
    z-index: 100;
    background: #fc0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

.rotate {

/* Safari */
-webkit-transform: rotate(-45deg);

/* Firefox */
-moz-transform: rotate(-45deg);

/* IE */
-ms-transform: rotate(-45deg);

/* Opera */
-o-transform: rotate(-45deg);


}

/* Switch CSS from: http://callmenick.com/post/css-toggle-switch-examples*/

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s;
}


.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color: #8ce196;
}

/* fancy css chart http://frayd.us/blog/css-bar-graphs/ */
.graph_fancy {
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .25);
    height: 200px;
    margin: 0 0 55px 0;
    position: relative;
    white-space: nowrap;

    background: rgba(0, 0, 0, .1);
    font-size: 0;
}
.graph_fancy:before { /* Y-axis label */
    display: block;
    padding: .5em;
    position: absolute;
    right: 100%;
    top: 48%;

    content: attr(data-y-label);
    font-size: 14px;
    line-height: 1;
    text-align: center;
}
.graph_fancy:after { /* X-axis label */
    display: block;
    left: 0;
    margin: 1em 0 0 0;
    padding: .75em 0;
    position: absolute;
    top: 100%;
    width: 100%;

    content: attr(data-x-label);
    font-size: 14px;
    line-height: 1;
    text-align: center;
}
.graph_fancy .bar {
    display: inline-block;
    margin: 0 0 0 1px;
    vertical-align: bottom;
    position: relative;
    width: 8.12%;

    background: #fc4;
    cursor: pointer;
}
.graph_fancy .bar:first-child {
    height: 100%;
    margin: 0;
    width: 0;
}
.graph_fancy .bar:hover {
    z-index: 100;

    background: #fc0;

    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}
.graph_fancy .bar:before { /* Bar label */
    display: block;
    left: 0;
    padding: .15em 0;
    position: absolute;
    top: 100%;
    width: 100%;

    content: attr(data-bar-label);
    font-size: 12px;
    opacity: .5;
    text-align: center;
}
.graph_fancy .bar:after { /* Bar data value */
    bottom: 100%;
    display: block;
    left: 0;
    position: absolute;
    width: 100%;

    content: attr(data-bar-value);
    font-size: 12px;
    opacity: .5;
    text-align: center;
}
.graph_fancy .bar, .graph_fancy .bar:before, .graph_fancy .bar:after {
    transition: background .25s ease-out, opacity .25s ease-out, box-shadow .25s ease-out;
}
.graph_fancy .bar:hover:before, .graph_fancy .bar:hover:after { opacity: 1; }

