.menu {
    position: absolute;
    background: orange;
    height: 50px;
    width: 100%;
}

.mainPanel {
    position: relative;
    top: 100px;
    margin: 0 auto;
    max-width: 1300px;
    height: 1000px;
    overflow: hidden;

    border: solid green;
}

.contents {
    position: absolute;
    top: 40px;
    height: 100%;
    width: 100%;
    overflow: scroll;
    border: solid blue;
}


.tabs {
    position:absolute; 
    z-index:2;
    display:table;
    border-left:1px solid #f5ab36;
    height: 40px;
} 

.tabs a:hover {
  background: #c4e0f1;
}


.tabs a {
    float:left;
    background:#ffd89b;
    color:#222;
    display:block;
    padding:6px 15px;
    text-decoration:none;
    border-right:1px solid #f5ab36;
    border-top:1px solid #f5ab36;
    border-right:1px solid #f5ab36; 
    margin:0;
}

.tabs a.selected  {
    border-bottom:1px 
    solid #fff;
    color:#344385;
    background:#fff;
}



.trophyRow td {
    border: solid;
}

.proficiencyTable td {
    border: solid;
}

.trophy {

    text-align: center;
    position: relative;
}

.trophy img {
     display: block;
    margin: 0 auto;
}

/* http://www.w3.org/Style/Examples/007/center.en.html */

.trophyGraphic {
    position: absolute;    
    margin: 0;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)                      
   
}

.trophyGraphic div {
    display:inline-block;
    padding: 5px;
}

/* Indicators */

.needs-help {
    background: orange;
}

.good {
    background: green;
}

.not-available {
    background: gray;
}

.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    
}

/* simple css chart */

.chartBar {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 5px;
  color: white;
  display:inline-block;

}

.chartLabel {
    display: inline-block;
    width: 100px;
    text-align: right;
 

}

.xaxis {

    border-style: solid;

}

.xaxis_label {
    display: inline-block;
    margin: 0 0 0 1px;
    
    position: relative;
    width: 2%;
    padding: 10px;
    text-align: right;
    white-space:nowrap;
    border-style: dotted;
}

.chartBar:hover { /* change color of bars when hovering over them */
    z-index: 100;
    background: #fc0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

.rotate {

/* Safari */
-webkit-transform: rotate(-45deg);

/* Firefox */
-moz-transform: rotate(-45deg);

/* IE */
-ms-transform: rotate(-45deg);

/* Opera */
-o-transform: rotate(-45deg);


}

/* Switch CSS from: http://callmenick.com/post/css-toggle-switch-examples*/

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s;
}


.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color: #8ce196;
}

/* fancy css chart http://frayd.us/blog/css-bar-graphs/ */
.graph_fancy {
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .25);
    height: 200px;
    margin: 0 0 55px 0;
    position: relative;
    white-space: nowrap;

    background: rgba(0, 0, 0, .1);
    font-size: 0;
}
.graph_fancy:before { /* Y-axis label */
    display: block;
    padding: .5em;
    position: absolute;
    right: 100%;
    top: 48%;

    content: attr(data-y-label);
    font-size: 14px;
    line-height: 1;
    text-align: center;
}
.graph_fancy:after { /* X-axis label */
    display: block;
    left: 0;
    margin: 1em 0 0 0;
    padding: .75em 0;
    position: absolute;
    top: 100%;
    width: 100%;

    content: attr(data-x-label);
    font-size: 14px;
    line-height: 1;
    text-align: center;
}
.graph_fancy .bar {
    display: inline-block;
    margin: 0 0 0 1px;
    vertical-align: bottom;
    position: relative;
    width: 8.12%;

    background: #fc4;
    cursor: pointer;
}
.graph_fancy .bar:first-child {
    height: 100%;
    margin: 0;
    width: 0;
}
.graph_fancy .bar:hover {
    z-index: 100;

    background: #fc0;

    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}
.graph_fancy .bar:before { /* Bar label */
    display: block;
    left: 0;
    padding: .15em 0;
    position: absolute;
    top: 100%;
    width: 100%;

    content: attr(data-bar-label);
    font-size: 12px;
    opacity: .5;
    text-align: center;
}
.graph_fancy .bar:after { /* Bar data value */
    bottom: 100%;
    display: block;
    left: 0;
    position: absolute;
    width: 100%;

    content: attr(data-bar-value);
    font-size: 12px;
    opacity: .5;
    text-align: center;
}
.graph_fancy .bar, .graph_fancy .bar:before, .graph_fancy .bar:after {
    transition: background .25s ease-out, opacity .25s ease-out, box-shadow .25s ease-out;
}
.graph_fancy .bar:hover:before, .graph_fancy .bar:hover:after { opacity: 1; }

