.menu {
/*  font-size: 0;
  text-align: center;
  margin: 40px 0;*/


    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    margin: 0;
    padding: 1em 0 1em 0;
    text-align: center;
    background-color: #4b384c;
}
.menu a {
  display: inline-block;
  border-style: solid;
  border-color: #c4e0f1;
  border-width: 0 1px;
  height: 48px;
  line-height: 48px;
  width: 150px;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  color: white;
  cursor: pointer;
}

.menu a:hover {
  background: #c4e0f1;
}
.menu a:first-child {
  border-left-width: 2px;
}
.menu a:last-child {
  border-right-width: 2px;
}
.menu a.selected {
  background: #7999b9;
  border-color: #7999b9;
  border-bottom: 3px solid #475869;
  color: white;
}


.chart {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 5px;
  color: white;
  display:inline-block;

}

.chartLabel {
    display: inline-block;
    width: 100px;
    text-align: right;
 

}

/* Switch CSS from: http://callmenick.com/post/css-toggle-switch-examples*/

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s;
}


.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color: #8ce196;
}

